<!-- public/compoent.html -->
<div class="h-screen grid place-items-center">
  <div class="space-y-4 bg-gray-800 px-6 py-6 rounded-md shadow-lg">
    <div>
      <h1 class="text-center font-bold text-gray-50 text-3xl">Welcome back</h1>
      <span class="text-gray-200 text-center text-xs w-[100%] inline-block"
        >Excited to see you again</span
      >
    </div>
    <form class="space-y-4 px-6 py-6" id="form">
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-300">
          Email</label
        >
        <input
          type="email"
          name="email"
          id="email"
          class="bg-gray-900 text-gray-50 rounded-lg block w-full p-2.5"
          placeholder="your@email.com"
        />
        <span class="text-xs text-red-500 font-bold" id="email-error"></span>
      </div>
      <div>
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-300"
          >Password</label
        >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="••••••••"
          class="bg-gray-900 text-gray-50 rounded-lg block w-full p-2.5"
        />
        <span class="text-xs text-red-500 font-bold" id="password-error"></span>
      </div>
      <button
        type="submit"
        class="w-full text-white bg-highlight-400 hover:bg-highlight-300 font-medium rounded-sm text-sm px-5 py-2.5 text-center"
      >
        Login
      </button>
      <p class="text-sm font-light text-gray-500 dark:text-gray-400 pt-4">
        Don’t have an account yet?
        <a
          href="/register"
          id="sign-up"
          class="font-medium text-highlight-400 hover:underline"
          >Sign up</a
        >
      </p>
    </form>
  </div>
</div>
